@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  list-style-type: none;
  text-decoration: none;
}

:root {
  --base-text-color: #48c4d4;
}

.container {
  margin: 0 auto;
  max-width: 1250px;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 25px !important;
  font-weight: bold !important;
}

.animate-section.visible {
  opacity: 1 !important;
  transform: translateY(0) !important;
  transition: opacity 0.7s ease, transform 0.7s ease;
}