@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  list-style-type: none;
  text-decoration: none;
  /* font-family: "Roboto", serif; */
}

:root {
  --base-text-color: #48c4d4;
}

body {
  background-color: rgb(196, 33, 169);
}